body {
  margin: 0;
  height: 100vh;
  background: #a1b2bc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  background: rgb(243, 244, 245);
  padding: 30px;
  border-radius: 20px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
  margin-bottom: 20px;
}

.emotions button {
  font-size: 28px;
  margin: 6px;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.emotions button:hover {
  transform: scale(1.3);
}

#palette {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 25px;
}

.color-box {
  width: 60px;
  height: 60px;
  border-radius: 12px;
}

#emotionText {
  margin-top: 15px;
  font-size: 28px;
  color: #9c5252;
}
#copyMsg {
  margin-top: 10px;
  font-size: 13px;
  color: #2a9d8f;
  opacity: 0;
  transition: opacity 0.3s ease;
}

